<h1><%= @event.title %></h1>
<h3>Hosted By: <%= @event.host.name %></h3>

<p><%= time_range @event.start_date, @event.end_date %></p>

<p><%= @event.description %></p>

<% if current_user && current_user != @event.host %>
    <% if !current_user.reservations.find_by(:event_id => @event.id) %>
        <%= link_to 'Attend Event', event_reservations_path(@event.id), :method => :post %>

    <% else %>
        <%= link_to 'Cancel Reservation', reservation_path(current_user.reservations.find_by(:event_id => @event.id).id), :method => :delete %>
    <% end %>

<% else %>
    <p>You must be <%= link_to 'logged in', new_user_session_path %> to reserve to this event.</p>
<% end %>
